
        <!-- Start: Sponsore Area
        =================================-->
        <section id="sponsore" >
            <div class="container-fluid">
                <div class="row sponsore-body section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header col-md-6 col-md-offset-3">

                        <!-- Sponsore Heading Goes Here -->
                        <h2 class="section-heading">贊助夥伴</h2>

                    </div>
                    <!-- End: Section Header -->

                    <div class="clearfix"></div>

                    <!-- Start: Images Area -->
                    <div class=" wow fadeInDown">

                        <ul class="nav">
                            <li class="col-xs-6 col-md-3">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/1.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/2.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/3.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/4.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/4.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/3.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/2.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-3 col-xs-6">
                                <div class="row">
                                    <a href="#" class="btn btn-1 btn-top">
                                        <%= image_tag("sponsors-img/1.png", alt: "Sponsors") %>
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- End: Images Area -->

                    <div class="become-a-sponsor btn-scroll-2 wow fadeInDown" data-wow-delay="0.6s">
                        <a class="" href="#map_contact">想成為贊助商?</a>
                    </div>


                </div>
                <!-- Start: Sponsore Body Area -->
            </div>
            <!-- End: .container  -->
        </section>
        <!-- End: Sponsore Area
        ==================================-->