
        <!-- Start: Our Work Area
        ================================== -->
        <section id="our-work">
            <div class="container-fluid">
                <div class="row our-work-body section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header col-md-8 col-md-offset-2">

                        <h2 class="section-heading">關於街頭健身</h2>
<p>
街頭健身(street workout)算是徒手健身(calisthenic的延伸。  
除了在一般戶外場所進行基本的push up、pull up。。等動作外，加入了飛越、轉體的表演花招，
讓街頭健身充滿極限運動的元素。因此，街頭健身可以說是一種致力於徒手健身的訓練流派，也可以說是一種表演運動。<br><br>

街頭健身(street workout)此一名詞的起源眾說紛紜，
但若說到徒手健身的歷史，各方資料都可以很輕易顯示，遠從古希臘時期，士兵就開始以自體重量做訓練。
在某些地方，流連在公園的民眾，大多為貧民、流浪漢，他們花很長的時間聚集在公園內，閒到沒事
而後期的花式動作，或許可以視為大家訓練之餘，信手拈來的娛樂動作。<br><br>

近年來，花式動作在大家爭相表現自己下，各種讓人目瞪口呆的極限動作一一出現，
難度、和危險性也逐漸爭高，也慢慢讓街頭健身逐漸模糊了"健身"的焦點，這樣的現象，加上大多街頭健身的選手為了比賽的優勢，
往往選擇忽略腿部的訓練，在國外，總是成為大家口水戰和撻伐的小辮子<br><br>

但回歸初衷，街頭健身讓流連在公園的群眾，減少了滋事的可能，並提供了貧困孩子們接觸健身、甚至翻身的機會。</p>

                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: Our Works Gallery -->
                    <div class="works col-xs-12 wow fadeInDown">
                        <div class="row ">

                            <div class="zoom-gallery">
                                <ul class="nav">
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/1.jpg">
                                            <%= image_tag("our-works/7.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/2.jpg">
                                            <%= image_tag("our-works/2.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/3.jpg">
                                            <%= image_tag("our-works/3.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/4.jpg">
                                            <%= image_tag("our-works/4.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/4.jpg">
                                            <%= image_tag("our-works/5.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                    <li class="col-md-4 col-sm-6 col-xs-12">
                                        <a href="images/our-works/3.jpg">
                                            <%= image_tag("our-works/6.jpg", alt: "img25") %>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- End: .row .grid -->
                    </div>
                    <!-- End: Our Works Gallery -->

                </div>
                <!-- End: .row .our-work-body .section-separator -->
            </div>
            <!-- End: .container-fluid -->
        </section>
        <!-- End: Our Work Area
        ================================== -->
