        <!-- Start: Testimonial Area
        ================================== -->
        <section class="testimonials" id="testimonials">

            <!-- COLOR OVERLAY -->
            <div class="overlay-color">
                <div class="container section-separator" >

                    <div class="quote-sym"><i class="fa fa-twitter"></i></div>
                    <div id="sync1" class="owl-carousel">

                        <!-- TESTIMONIAL TEXT - CLIENT'S MSG -->
                        <div class="item row">
                            <div class="col-md-8 col-md-offset-2">
                                <blockquote>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Ipsa aliquid enim similique quod porro magni quam fugiat event landing template, libero nemo illum earum ea multipage Eum amet provident voluptate hic doloremque event landing template, asperiores event landing template, aut.</blockquote>
                            </div> <!-- .col-md-8 col-md-offset-2 -->
                        </div>

                        <div class="item row">
                            <div class="col-md-8 col-md-offset-2">
                                <blockquote>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Magnam expedita event landing template, accusamus facere ipsam, sit reiciendis sed tempora. Vero explicabo optio nulla libero vel at omnis, iure qui asperiores nobis multipage Odio!</blockquote>
                            </div> <!-- .col-md-8 col-md-offset-2 -->
                        </div>

                        <div class="item row">
                            <div class="col-md-8 col-md-offset-2">
                                <blockquote>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Magnam expedita event landing template, accusamus facere ipsam, sit reiciendis sed tempora. Vero explicabo optio nulla libero vel at omnis, iure qui asperiores nobis multipage Odio!</blockquote>
                            </div> <!-- .col-md-8 col-md-offset-2 -->
                        </div>

                        <div class="item row">
                            <div class="col-md-8 col-md-offset-2">
                                <blockquote>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Magnam expedita event landing template, accusamus facere ipsam, sit reiciendis sed tempora. Vero explicabo optio nulla libero vel at omnis, iure qui asperiores nobis multipage Odio!</blockquote>
                            </div> <!-- .col-md-8 col-md-offset-2 -->
                        </div>

                        <div class="item row">
                            <div class="col-md-8 col-md-offset-2">
                                <blockquote>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Magnam expedita event landing template, accusamus facere ipsam, sit reiciendis sed tempora. Vero explicabo optio nulla libero vel at omnis, iure qui asperiores nobis multipage Odio!</blockquote>
                            </div> <!-- .col-md-8 col-md-offset-2 -->
                        </div>

                        <div class="item row">
                            <div class="col-md-8 col-md-offset-2">
                                <blockquote>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Natus velit quisquam ratione numquam nobis quis consectetur laudantium in saepe autem earum quo event landing template, doloremque commodi veniam et, deserunt voluptates debitis nulla.</blockquote>
                            </div> <!-- .col-md-8 col-md-offset-2 -->
                        </div>
                         <!-- End: TESTIMONIAL TEXT - CLIENT'S MSG -->

                    </div>

                    <div id="sync2" class="owl-carousel">

                        <!-- CLIENT'S PICTURE -->
                        <div class="item">
                            <figure>
                                <%= image_tag("clients-pic/client-1.jpg", class: "img-responsive") %>
                                <figcaption>
                                    <p class="name">Maria Adair</p>
                                    <cite>Programmer</cite>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="item">
                            <figure>
                                <%= image_tag("clients-pic/client-2.jpg", class: "img-responsive") %>
                                <figcaption>
                                    <p class="name">William Jackson</p>
                                    <cite>Graphic Artist</cite>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="item">
                            <figure>
                                <%= image_tag("clients-pic/client-3.jpg", class: "img-responsive") %>
                                <figcaption>
                                    <p class="name">Robert Gregory</p>
                                    <cite>Developer</cite>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="item">
                            <figure>
                                <%= image_tag("clients-pic/client-2.jpg", class: "img-responsive") %>
                                <figcaption>
                                    <p class="name">Michael Murphy</p>
                                    <cite>Web Engineer</cite>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="item">
                            <figure>
                                <%= image_tag("clients-pic/client-1.jpg", class: "img-responsive") %>
                                <figcaption>
                                    <p class="name">Blanca Anderson</p>
                                    <cite>UI Expert</cite>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="item">
                            <figure>
                                <%= image_tag("clients-pic/client-3.jpg", class: "img-responsive") %>
                                <figcaption>
                                    <p class="name">James Gordon</p>
                                    <cite>Photographer</cite>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                     <!-- End: CLIENT'S PICTURE -->

                </div>
                <!-- End: .container -->
            </div>
             <!-- End: Color Overlay -->
        </section>
        <!-- End: Testimonial Area
        ================================== -->