<!-- Start: Background Video 
================================-->
<!-- <video autoplay loop class="fillWidth background-video">
    <source src="video/event-video.mp4" type="video/mp4"/>
    <source src="video/event-video.webm" type="video/webm"/>
</video> -->

<%= video_tag("event-video.mp4", autoplay: true, loop: true, muted: true, id:"background-video", class: "fillWidth background-video") %>
    
<div class="poster hidden">
    <%= image_tag("event-video.jpg", alt: "event video poster") %>
</div>
<!-- End: Background Video 
================================-->

<!--Start: Header Area
==============================-->
<header class="header header-2" id="header" data-stellar-background-ratio="0.5"> 
    <div class="fix header-overlay overlay-color">

        <!-- Start: Navbar Area  -->
        <div class="header-navbar" id="header-navbar">
         
            <nav class="navbar navbar-fixed-top header-nav-2" id="myNavbar" >
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#finiti-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- TEMPLATE LOGO -->
                        <a class="navbar-brand" href="https://www.facebook.com/ginastreetworkout/"><span>
                        <%= image_tag("logo.png", class: "img-responsive") %>
                        <!-- <img src="images/logo.png" alt="" class="img-responsive"></span> -->
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="finiti-navbar-collapse">
                        <ul id="navbar-nav-2" class="nav navbar-nav navbar-right">
                            <!--  -->
                            <li class="section-selector-2"><a href="#header">首頁</a></li>
                            <li class="section-selector-2"><a href="#our-featured">預告</a></li>
                            <li class="section-selector-2"><a href="#schedule">賽程</a></li>
                            <li class="section-selector-2"><a href="#two-cols-description-with-slider">關於</a></li>
                            <!-- <li class="section-selector-2"><a href="#sponsore">贊助</a></li> -->
                            <li class="section-selector-2"><a href="#disqus_thread">留言</a></li> 
                            <!-- <li class="section-selector-2"><a class="new-page blog" href="blog.html">Blog</a></li>  -->
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
        <!-- End: Navbar Area  -->
        
        <div class="container" id="header-body">
            <div class="row header-body section-separator">

                <!-- Headline Goes HEre -->
                <div class="cd-intro no-csstransitionswow fadeInDown" data-wow-delay="0.3s">
                    <h1 class="cd-headline rotate-1">徒手健身 年度大賽 

                        <!--Word Slider start-->
                        <span class="cd-words-wrapper">
                            <b class="is-visible">草根盃 !</b>
                            <b>草根盃!</b>
                            <b>草根盃!</b>
                            <b>鋼鐵對決!</b>
                        </span>
                        <!--Word Slider end-->
                    </h1>
                </div>

                <!-- Detail -->
                <p class="wow fadeInDown" data-wow-delay="0.6s">
                <!-- 英雄好漢齊聚一堂 切磋交流各戰一方 -->
                </p>

                <!-- Start: Button area -->
                <div class="buy-tricket btn-scroll wow fadeInDown" data-wow-delay="0.9s">
                
                <a class="typeform-share link btn btn-1 btn-top" href="https://changhsum.typeform.com/to/h6tg4T" data-mode="1" >報名！</a>

                    <!--<button class="btn btn-1 btn-1c">Button</button>-->
                </div>
                <!-- End: Button area" -->

                <!-- button -->
                <div class="btn-scroll-2 wow fadeInDown" data-wow-delay="1s">
                    <a class="btn-down-chack btn " href="#our-featured">
                        <!-- <%= image_tag("down.png") %>  -->

                        <!-- <i id="player_icon" class="fa fa-pause fa-2x" aria-hidden="true"></i> -->
                    </a>
                </div>

            </div>
            <!-- End: header-body  -->
        </div> 
        <!-- End: container  -->

    </div> 
    <!-- End: .fix .header-overlay .overlay-color  -->
</header> 
<!--End: Header Area
==============================-->


<!-- Start: Partner Area
==============================-->
<!-- <section id="partner">
    <div class="container">
        <div class="row section-separator">

            <ul class="nav"> -->
                <!-- Item 1 -->
                <!-- <li class="col-xs-6 col-sm-3 wow fadeInRight">
                    <%= link_to image_tag("partner-1.png"), "#", class: "img-responsive" %>
                </li>
 -->
                <!-- Item 2 -->
                <!-- <li class="col-xs-6 col-sm-3 wow fadeInRight" data-wow-delay="0.3s">
                    <%= link_to image_tag("partner-2.png"), "#", class: "img-responsive" %>
                </li>
 -->
                <!-- Item 3 -->
                <!-- <li class="col-xs-6 col-sm-3 wow fadeInRight" data-wow-delay="0.6s">
                    <%= link_to image_tag("partner-3.png"), "#", class: "img-responsive" %>
                </li>
 -->
                <!-- Item 4 -->
                <!-- <li class="col-xs-6 col-sm-3 wow fadeInRight" data-wow-delay="0.9s">
                    <%= link_to image_tag("partner-4.png"), "#", class: "img-responsive" %>
                </li>
            </ul>

        </div> -->
        <!-- End: .row .section-separator -->
    <!-- </div> -->
    <!-- End: .container -->
<!-- </section> -->
<!-- End: Partner Area
==============================-->
