



<!--  Start: Two cols Section
==============================--> 
<section id="two-cols-description-with-slider" class="two-cols-description-with-slider">
    <div class="container-fluid">
        <div class="row two-cols-description-with-slider-body">

            <!-- Expandable Gallery -->
            <div class="slider-bar col-md-6 col-sm-12">
                <div class="row">
                    <div class="flexslider">
                        <ul class="slides slides-height">
                            <li>
                                <%= image_tag("gallery/horizontal_dip_back.jpg", alt: "街頭健身囡仔團隊") %>
                            </li>
                            <li>
                                <%= image_tag("gallery/IMG_5976.jpg", alt: "街頭健身囡仔團隊") %>
                            </li>
                            <li>
                                <%= image_tag("gallery/IMG_5916.jpg", alt: "街頭健身囡仔團隊") %>
                            </li>
                            <li>
                                <%= image_tag("gallery/IMG_5911.jpg", size: "799x491", alt: "街頭健身囡仔團隊") %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Start: TWO COLS DESCRIPTION TEXT -->
            <div class="description-info description-height col-md-6 col-sm-12 wow fadeInRight">

                <div class="description-info-inner section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header align-left">
                        <h2 class="section-heading">草根盃緣起</h2>
                        <P>
                        草根盃是由囡仔團隊與四福單槓團聯手發起的徒手健身競賽。
                        有感於每年街頭健身的比賽太少，希望藉此為年輕選手打造舞台、吸收經驗的機會，並建立健全完善的比賽機制。<br><br>

                        除了街頭健身外，我們期待透過基本的徒手與負重競賽，能製造一個友善交流的平台，吸引各界健身人士共襄盛舉。
                        對於彼此間的誤解與距離感，能在比賽後有一番新的了解與認識。
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        </P>
                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: .chaecklist -->
<!--                     <ul class="checklist">
                        <li>Finiti id dolor id evint landing ultricies vehicula ut id elit.</li>
                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                        <li>Nulla vitae elit finiti, a pharetra augue.</li>
                        <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                        <li class="visible-lg">Praesent commodo cursus magna, event landing scelerisque nisl consectetur et.</li>
                    </ul> -->
                    <!-- End: .checklist -->

                    <!-- Read More Button -->
                    <!-- <a href="#0" class="btn btn-1 btn-left btn-read-more">Read More</a> -->
                </div>
            </div>
            <!-- End: TWO COLS DESCRIPTION TEXT -->
        </div>
        <!-- End: .row .two-cols-description-with-slider-body -->
    </div>
    <!-- End: Container-fluit -->
</section>
<!-- End: Two cols Section
==============================-->

<!-- Start: Two cols Section
==============================-->
<section id="two-cols-description-with-image" class="two-cols-description-with-image">
    <div class="container-fluid">
        <div class="row two-cols-description-with-image-body">

            <!-- Start: TWO COLS DESCRIPTION IMAGE -->
            <div class="two-cols-description-image col-md-6 col-md-push-6 col-sm-12">
                <%= image_tag("gallery/compress_hand1.jpg", alt: "街頭健身囡仔團隊") %>
            </div>
            <!-- End: TWO COLS DESCRIPTION IMAGE -->

            <!-- Start: TWO COLS DESCRIPTION TEXT -->
            <div class="description-info col-md-6 col-md-pull-6 col-sm-12 wow fadeInLeft">

                <div class="description-info-inner section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header align-left">

                        <h2 class="section-heading">關於囡仔團隊</h2>
                        <p>我們是一支推廣街頭健身的團隊，創立於2014年5月，希望以民間的力量在各地推動街頭健身運動。我們的最終目標是，讓人人都熱愛運動並實現街頭健身的理想：讓健身成為生活的一部分。<br><br>
 
成立初期以介紹全國各地公園、翻譯國外健身影片為主。期間曾與囚徒健身書商-楓書坊進行合作一事，並對委內瑞拉團隊-Pro-Barras、英國選手Stephen Hughes-Landers進行專訪，協助台灣與國際街頭健身圈接軌。<br><br>
 
除了運動外，我們也將台灣的文化連結在品牌背後，並以河洛語為團隊作命名，那是我們對這片土地的深厚情感。未來，希望肩負這股社會責任，繼續為台灣運動員付出熱忱。
 </p>
                    </div>
                    <!-- End: Section Header -->

                    <!-- Start: .chaecklist -->
<!--                     <ul class="checklist">
                        <li>Finiti id dolor id evint landing ultricies vehicula ut id elit.</li>
                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                        <li>Nulla vitae elit finiti, a pharetra augue.</li>
                        <li>Etiam porta sem multipage evint landing magna mollis euismod a pharetra augue.</li>
                        <li class="visible-lg">Praesent commodo cursus magna event landing template, event landing scelerisque nisl consectetur et.</li>
                    </ul> -->
                    <!-- End: .checklist -->

                    <!-- Read More Button -->
                    <a href="https://www.facebook.com/ginastreetworkout/" class="btn btn-1 btn-left btn-read-more">Facebook Page</a>

                </div>

            </div>
            <!-- End: TWO COLS DESCRIPTION TEXT -->

        </div>
    </div>
</section>
<!-- End: Two cols Section
==============================


