<!-- Start: Speakers Area
      =====================================-->
      <section class="speakers" >
          <div class="container">
              <div class="row speakers-body section-separator col-md-12 col-lg-offset-1 col-lg-10" >

                  <!-- Start: Section Header -->
                  <div class="section-header col-md-6 col-md-offset-3">

                      <!-- Speakers Heading Goes Here -->
                      <h2 class="section-heading">囡仔夥伴</h2>

                  </div>
                  <!-- End: Section Header -->

                  <div class="clearfix"></div>

                  <!-- Start: Slider Area -->
                  <div id="slider" class="wow fadeInDown" >

                      <!-- Speakers Slide images Goes Here -->
                      <!-- Item 1 -->
                      <div class="item">
                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                      <h2>Simple Text</h2>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>陳玠言</h3>
                          <p>CEO, 囡仔創辦人</p>

                      </div>

                      <!-- Item 2 -->
                      <div class="item">
                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/2.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>陳子勝</h3>
                          <p>八德團團長</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/3.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>神二人</h3>
                          <p>福和團團長</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/4.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>鬼哥</h3>
                          <p>攝影後製</p>

                      </div>
                      <div class="item">
                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/3.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>David Jones</h3>
                          <p>CEO, DeviserWeb</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>Kulsum Doe</h3>
                          <p>CEo, DeviserWeb</p>

                      </div>
                      <div class="item">

                          <div class="view grid">
                              <figure class="effect-zoe">

                                  <!-- Image Goes Here -->
                                  <%= image_tag("speakers-img/1.jpg", alt: "speakers") %>

                                  <!-- Social Icon Goes Here -->
                                  <figcaption>
                                      <div class="icon-links">
                                          <ul class="nav">
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa facebook fa-facebook"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa twitter fa-twitter"></i> </a></li>
                                              <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                                          </ul>
                                      </div>
                                  </figcaption>
                              </figure>
                          </div>

                          <div class="clearfix"></div>

                          <!-- Name and Company Goes Here -->
                          <h3>Mitrel Lord</h3>
                          <p>CEO, DeviserWeb</p>

                      </div>

                  </div>
                  <!-- End: #slider -->

              </div>
              <!-- Start: .row .speakers-body .section-separator -->
          </div>
          <!-- End:  "container"-->
      </section>
      <!-- End: Speakers Area
      =====================================-->