<%= render "1th_Header_Area" %>

<%= render "5th_Our_Featured_Area" %> <!-- Trailer -->

<%= render "4th_countdown_area" %> 

<%= render "2th_Schedule_Area" %>

<%= render "Map_Area" %>

<%= render "3th_Two_cols_section" %>
 
<%= render "6th_Speakers_Area" %>  <!-- Members -->
      

<%#= render "7th_Pricing_Table_Area" %>

<%#= render "8th_Counter_Up_Area" %>

<!-- <%#= render "9th_Collapse_Area" %> Questions -->

<%#= render "10th_Blog_Area" %>

<%#= render "11th_NewsLetter_Area" %>

<%#= render "12th_Sponsore_Area" %>

<%= render "13th_Our_Work_Area" %> <!-- Highlights  -->

<!-- <%#= render "14th_Testimonial_Area" %> Recommendation -->

<!-- <%#= render "15th_Map_and_Contact_Area" %> contact -->

<div class="disqus_block">
	<div class="container">
		<div id="disqus_thread"></div> <!-- Disqus -->	
	</div>
</div>

<%= render "16th_Footer_Area" %>
