<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="台灣的街頭健身正在崛起，我們是一支推廣街頭健身的團隊，創立於2014年5月，希望以民間的力量在各地推動街頭健身運動。我們的最終目標是，讓人人都熱愛運動並實現街頭健身的理想：讓健身成為生活的一部分。" />
      <meta name="author" content="囡仔街頭健身團隊">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="keywords" content="健身, 街頭健身, 徒手, 比賽, 囡仔, 團隊, streetworkout, Street-Workout Taiwan , calisthenic" />
      <meta property="og:title" content="囡仔 - 台灣街頭健身地方聯盟" />
      <meta property="og:description" content="台灣的街頭健身正在崛起，我們是一支推廣街頭健身的團隊，創立於2014年5月，希望以民間的力量在各地推動街頭健身運動。我們的最終目標是，讓人人都熱愛運動並實現街頭健身的理想：讓健身成為生活的一部分。" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="囡仔 - 台灣街頭健身地方聯盟 Official Website" />
      <meta property="og:image" content="http://gin-a.tw/public/poster.jpg" />
      <meta property="og:url" content="http://gin-a.tw/" />
      <!-- TITLE OF SITE -->
      <title> 囡仔 - 台灣街頭健身地方聯盟 </title>
      <%= csrf_meta_tags %>
      
      <!-- CSS -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag 'favicon.ico', type: 'image/ico' %>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    </head>
    
    <body>
      <%= yield %>

      <!-- for devise -->
<!--       <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->

      <!-- JS -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>  
      <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXtKPN-097FWbfneioTa23SpRO-mEdfAs"></script>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <script>

      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
      /*
      var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//nan-zi-jie-tou-jian-shen-lian-meng.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                         
    </body>
</html>
